.about {
  box-sizing: border-box;
  margin: 10px 41px 23px 69px;
  padding-left: 0;
}

.about__item {
  position: relative;
  list-style: none;

  &--souvenirs {
    margin-top: 29px;
  }

  &--food {
    margin-top: 28px;
  }
}

.about__icon {
  position: absolute;
  top: -10px;
  left: -50px;
  fill: @bg-blue;

  &--house {
    width: 37px;
    height: 36px;
  }

  &--gift {
    width: 32px;
    height: 38px;
  }

  &--burger {
    width: 40px;
    height: 35px;
  }
}

.about__title {
  .bold-title;
  margin-bottom: 0;
}

.about__paragraph {
  .small-paragraph;
  color: @font-grey;
}

@media (min-width: @tablet-width) {
  .about {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    margin: 47px auto;
    padding: 0;
  }

  .about__title {
    .bold-phrase;
  }

  .about__paragraph {
    margin-top: 22px;
  }

  .about__item {
    box-sizing: border-box;
    padding: 0 40px;
    text-align: center;
    margin: auto;

    &--housing {
      order: 1;
    }

    &--souvenirs {
      order: 3;
    }

    &--food {
      order: 2;
    }
  }

  .about__icon {
    position: relative;
    top: 0;
    left: 0;
    fill: @bg-blue;

    &--house {
      width: 75px;
      height: 72px;
    }

    &--gift {
      width: 77px;
      height: 68px;
    }

    &--burger {
      width: 64px;
      height: 75px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    max-width: 1200px;
    margin: 67px 0;
  }

  .about__item {
    margin: 0;
    padding: 0;

    &--housing {
      width: 252px;
    }

    &--souvenirs {
      width: 214px;
      margin-right: 22px;
    }

    &--food {
      width: 283px;
      margin-right: 19px;
    }
  }
}
