.booking {
  text-align: center;
  box-sizing: border-box;
  margin: 7px 20px 0;
}

.booking__title {
  margin-bottom: 21px;
  .bold-phrase;
}

.booking__paragraph {
  .paragraph;
  color: @font-grey;
}

.booking__paragraph br {
  display: none;
}

.booking__find-button {
  box-sizing: border-box;
  width: 100%;
  margin: 36px auto 49px;
  padding: 15px 0 16px;
}

@media (min-width: @tablet-width) {
  .booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 157px 46px;
  }

  .booking__paragraph br {
    display: block;
  }

  .booking__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }

  .booking__find-button {
    margin: 29px auto 13px;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    margin-bottom: 53px;
  }

  .booking__title {
    margin-bottom: 17px;
  }

  .booking__paragraph {
    width: 435px;
  }

  .booking__find-button {
    margin-top: 34px;
    max-width: 458px;
  }
}
