.inquirer__title {
  .bold-title;
}

.inquirer__label {
  .big-paragraph;
  color: @font-grey;
}

.inquirer__input::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__input {
  padding-left: 22px;
  padding-right: 22px;
  background-color: @input-color;
}

.inquirer__button {
  list-style: none;
}

.control-text {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__item {
  list-style: none;
}

.inquirer__textarea::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__textarea {
  background-color: @input-color;
  padding-top: 22px;
  padding-left: 21px;
}

.inquirer__send-button {
  .bold-phrase;
  .buttons;
  padding: 21px 48px 21px 47px;
}
