.inquirer__profile {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.inquirer__title {
  .bold-title;
  text-align: center;
}

.inquirer__label-input {
  display: flex;
  margin: 10px 0;
}

.inquirer__label {
  .big-paragraph;
  color: @font-grey;
  margin-right: 14px;
}

.inquirer__input::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__input {
  .bold-title;
  padding: 0 22px;
  height: 58px;
  box-sizing: border-box;
  background-color: @input-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.inquirer__button {
  list-style: none;
}

.control-text {
  .bold-title;
  color: @font-black;
  text-transform: none;
}

.inquirer__item {
  list-style: none;
}

.inquirer__textarea::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__textarea {
  background-color: @input-color;
  padding-top: 22px;
  padding-left: 21px;
  border: none;
  margin-bottom: 51px;
}

.inquirer__send-button {
  padding: 21px 0;
  width: 100%;
}
