.inquirer__title {
  .bold-title;
}

.inquirer__label {
  .big-paragraph;
  color: @font-grey;
}

.inquirer__input::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__input {
  padding: 20px 22px;
  background-color: @input-color;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 320px;
}

.inquirer__button {
  list-style: none;
}

.control-text {
  .bold-title;
  color: @font-black;
  text-transform: none;
}

.inquirer__item {
  list-style: none;
}

.inquirer__textarea::placeholder {
  .bold-title;
  color: #000000;
  text-transform: none;
}

.inquirer__textarea {
  background-color: @input-color;
  padding-top: 22px;
  padding-left: 21px;
}

.inquirer__send-button {
  padding: 21px 0;
  width: 100%;
}
