.main-nav {
  position: relative;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__close-toggle {
  position: absolute;
  top: 17px;
  right: 20px;
}

.main-nav__open-toggle {
  position: absolute;
  top: 235px;
  right: 20px;
  z-index: 1;
}

.main-nav__open-icon {
  fill: @bg-blue;
}

.main-nav__close-icon {
  fill: @icon-color;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 56px;
    .big-paragraph;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__toggle,
  .main-nav__open-toggle,
  .main-nav__close-toggle {
    display: none;
  }
}
