.map {
  text-align: center;
}

.map__title-paragraph {
  box-sizing: border-box;
  margin: 28px 20px;
}

.map__title {
  .bold-phrase;
}

.map__paragraph {
  .paragraph;
  color: @font-grey;
}

.map__find-button {
  box-sizing: border-box;
  width: 100%;
  margin: 34px auto 49px;
  padding: 15px 0;
}

.map__img {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .map__title-paragraph {
    margin: 26px 167px 47px;
  }

  .map__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }

  .map__find-button {
    margin: 43px auto 13px;
  }
}

@media (min-width: @desktop-width) {
  .map__paragraph {
    width: 434px;
  }

  .map__img {
    width: 1200px;
    height: 350px;
    margin-bottom: 0;
  }
}
