.map {
  text-align: center;
}

.map__img {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .map__img {
    width: 1200px;
    height: 350px;
    margin-bottom: 0;
  }
}
