.page-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @bg-white;
  padding-top: 9px;
  padding-bottom: 30px;
}

.page-footer__tag {
  .bold-phrase;
}

.page-footer__copyright {
  display: flex;
  .big-paragraph;
  color: #000000;
  text-decoration: none;
}

.page-footer__academy {
  display: flex;
  margin-left: 13px;

  &:hover {
    fill: @bg-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social {
  list-style: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__social {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .page-footer__copyright {
    margin-bottom: 0;
  }
}
