.page-main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: @bg-white;
}

.page-main__wrapper {
  box-sizing: border-box;
  margin: 20px 0;

  &--index {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 24px auto 13px;
  }

  &--photo {
    max-width: 97%;
    margin: 20px auto;
    padding: 0 6.25%;

    .page-main__paragraph {
      .paragraph;
    }
  }

  &--video {
    max-width: 90%;
    margin: 20px auto;
    padding: 0 6.25%;

    .page-main__paragraph {
      .paragraph;
    }
  }
}

.page-main__title {
  .bold-title;
  text-align: center;
}

.page-main__paragraph {
  margin-top: 27px;
  .big-paragraph;
  color: @font-grey;
  text-align: center;
}

.page-main__player-wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: @bg-white;
}

.page-main__video-preview {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.page-main__volume-scale {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 74%;
    height: 3px;
    background-color: @video-icon-color-tablet;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 22%;
    right: 0;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
    background-color: @video-icon-color-tablet;
  }
}

.page-main__video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    bottom: -66px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 87%;
    height: 66px;
    background-color: @input-color;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 87%;
    height: 45px;
    z-index: 1;
    background-color: rgba(57, 35, 20, 0.6);
  }
}

.page-main__video-button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-main__icon {
  position: absolute;
  bottom: -35px;
  height: 20px;
  fill: @video-icon-color;

  &--replay {
    left: 12%;
    width: 16px;
  }

  &--subtitles {
    left: 59%;
    width: 32px;
  }

  &--fullscreen {
    left: 78%;
    width: 20px;
  }

  &:hover {
    fill: @video-icon-color-hover;
  }

  &:active {
    fill: @video-icon-color-active;
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-main__title {
    .bold-phrase;
  }

  .page-main__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 490px;
    margin: 0 auto;

    &--index {
      margin-top: 33px;
      margin-bottom: 36px;

      .page-main__paragraph {
        margin-top: 10px;
      }
    }

    &--photo {
      width: 428px;
      padding: 0 7.8%;

      .page-main__title {
        .tablet-title;
      }
    }

    &--video {
      padding: 0 7.8%;

      .page-main__title {
        .tablet-title;
      }
    }

    &--form {
      width: 439px;
    }
  }

  .page-main__video-player::after {
    display: none;
  }

  .page-main__video-player::before {
    width: 648px;
    height: 93px;
  }

  .page-main__volume-scale {
    &::after {
      bottom: 45px;
      width: 389px;
    }

    &::before {
      bottom: 42px;
      left: 250px;
    }
  }

  .page-main__icon {
    bottom: 40px;
    z-index: 1;
    fill: @video-icon-color-tablet;

    &--replay {
      left: 150px;
    }

    &--subtitles {
      left: 600px;
    }

    &--fullscreen {
      left: 650px;
    }

    &:hover {
      fill-opacity: 0.6;
    }

    &:active {
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    &--photo {
      padding: 0;
    }

    &--video {
      padding: 0;
    }
  }

  .page-main__player-wrapper {
    margin: 0 auto;
  }

  .page-main__video-preview {
    display: flex;
    width: 800px;
  }

  .page-main__video-player::before {
    width: 800px;
  }
}
