.page-main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: @bg-white;
}

.page-main__wrapper {
  box-sizing: border-box;
  margin: 20px 0;

  &--index {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 24px auto 13px;
  }

  &--photo {
    max-width: 97%;
    margin: 20px auto;
    padding: 0 6.25%;

    .page-main__paragraph {
      .paragraph;
    }
  }
}

.page-main__title {
  .bold-title;
  text-align: center;
}

.page-main__paragraph {
  margin-top: 12px;
  margin-bottom: 0;
  .big-paragraph;
  color: @font-grey;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    .bold-phrase;
  }

  .page-main__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 490px;
    margin: 0 auto;

    &--index {
      margin-top: 33px;
      margin-bottom: 36px;

      .page-main__paragraph {
        margin-top: 10px;
      }
    }

    &--photo {
      width: 428px;
      padding: 0 7.8%;

      .page-main__title {
        .tablet-title;
      }
    }

    &--form {
      width: 439px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    &--photo {
      padding: 0;
    }
  }
}
