.page-header__welcome {
  background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 229px 39px, cover;
  min-height: 158px;
  margin-bottom: 41px;
  background-color: @bg-image;
  background-position: center;
  background-repeat: no-repeat;

  &--index {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-size: 281px 214px, cover;
    min-height: 389px;
    margin-bottom: 43px;
    background-color: @bg-image;
    background-position: center;
    background-repeat: no-repeat;
  }
}
