.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__wrapper {
  margin: 30px 33px;
}

.page-main__title {
  .bold-title;
  text-align: center;
}

.page-main__paragraph {
  .big-paragraph;
  color: @font-grey;
  text-align: center;

  &--inner {
    .paragraph;
  }
}

.page-main__video-preview {
  display: flex;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 490px;
    margin: 51px auto;

    &--photo {
      width: 428px;
    }

    &--form {
      width: 439px;
    }
  }

  .page-main__title {
    .bold-phrase;

    &--inner {
      .tablet-title;
    }
  }

  .page-main__video-preview {
    margin-bottom: 121px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__video-preview {
    width: 800px;
    height: 500px;
  }
}
