.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.popup__title {
  .bold-title;
}

.popup__paragraph {
  .paragraph;
  color: @font-grey;
}

.popup__button {
  &--close {
    width: 100%;
  }
}
