.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.popup__title {
  .bold-title;
}

.popup__paragraph {
  .paragraph;
  color: @font-grey;
}

.popup__button {
  margin: auto;

  &--close {
    width: 100%;
  }
}

.popup__wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: @wrapper-grey;
  padding: 20px;
}
