.reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &--bridge {
    .reasons__wrapper {
      &--main {
        padding: 15px 25px 27px;
      }
    }
  }

  &--secondary {
    .reasons__wrapper {
      padding: 3px 41px;
      background-color: @bg-grey;
    }

    .reasons__paragraph {
      color: @font-grey;
    }
  }
}

.reasons__wrapper {
  box-sizing: border-box;

  &--main {
    padding: 31px 25px 27px;
    color: @font-white;
    background-color: @bg-blue;
  }

  &--tourists {
    padding: 3px 31px 15px;
  }
}

.reasons__title {
  margin-bottom: 0;
  .bold-title;

  &--advantages {
    margin-top: 35px;
  }
}

.reasons__paragraph {
  margin-top: 9px;
  .small-paragraph;
}

.reasons__img {
  width: 100%;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .reasons {
    flex-direction: row;

    &--secondary {
      display: flex;
      max-width: 900px;
      margin: auto;

      .reasons__wrapper {
        padding: 29px 55px;
      }
    }

    &--bridge {
      flex-direction: row-reverse;

      .reasons__title {
        box-sizing: border-box;
        margin: 15px 12px 5px;
      }

      .reasons__wrapper {
        &--main {
          padding: 0 40px;
        }
      }
    }
  }

  .reasons__wrapper {
    display: flex;
    flex-direction: column;

    &--main {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      padding: 0 40px;
    }
  }

  .reasons__img {
    display: flex;
  }

  .reasons__title {
    margin-top: 15px;
    .bold-phrase;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    &--secondary {
      max-width: 100%;

      .reasons-wrapper {
        padding: 43px 55px;
      }

      .reasons__title {
        box-sizing: border-box;
        margin: 0 70px 10px;
      }
    }

    &--bridge {
      .reasons__title {
        margin: 15px 35px 5px;
      }

      .reasons__wrapper {
        &--main {
          padding: 0 90px;
        }
      }
    }
  }

  .reasons__wrapper {
    &--main {
      box-sizing: border-box;
      width: 400px;
      height: 256px;
      padding: 0 60px;
    }
  }

  .reasons__img {
    width: 800px;
    height: 256px;
    margin: 0;
  }

  .reasons__title {
    margin: 10px 40px;
  }
}
