.reasons {
  background-color: @bg-grey;
  padding-top: 33px;
  padding-bottom: 32px;
  text-align: center;
}

.reasons__title {
  .bold-title;
}

.reasons__paragraph {
  .small-paragraph;
  color: @font-grey;
}
