.site-list {

}

.site-list__item a {
  color: @font-white;
  background-color: @bg-blue;
}

.site-list__main {
 padding: 21px 124px 20px 123px;
}

.site-list__photo {
padding: 21px 98px 18px 96px;
}

.site-list__form {
padding: 21px 93px 20px 92px;
}

.site-list__academy {
padding: 21px 96px 20px;
}
