.site-list__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    color: @font-white;
    background-color: @bg-blue;
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: @bg-hover-blue;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: @bg-active-blue;
    }

    &:disabled {
      background-color: @bg-disabled;
    }
  }

  .site-list__link {
    background-color: @bg-white;

    &:hover,
    &:active {
      background-color: @bg-white;
    }
  }
}

.site-list__logo {
  position: relative;
  top: 22px;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: @font-black;
      font-weight: bold;
      background-color: @bg-white;
      box-shadow: none;

      &:hover {
        color: @bg-blue;
        background-color: @bg-white;;
      }

      &:active {
        color: @active-opacity;
        background-color: @bg-white;;
      }
    }

    .site-list__link {
      align-items: baseline;
    }

    &--index {
      order: 1;
    }

    &--photo {
      order: 2;
    }

    &--logo {
      order: 3;
    }

    &--form {
      order: 4;
    }

    &--academy {
      order: 5;
    }
  }

  .site-list__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__logo {
    width: 188px;
    height: 96px;
  }
}
