body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 6.25%;
}
.container--indent {
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    padding: 0 7.8%;
  }
  .container--indent {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10%;
  }
  .container--indent {
    padding: 0;
  }
}
/* todo: контейнер для фиксированной верстки */
/*.container {
box-sizing: border-box;
width: 320px;
margin: 0 auto;
padding: 0 20px;

&--indent {
padding: 0;
}

@media (min-width: @tablet-width) {
width: 768px;
padding: 0 60px;

&--indent {
padding: 0;
}
}

@media (min-width: @desktop-width) {
width: 1200px;
padding: 0 120px;

&--photo {
padding: 0;
}

&--indent {
padding: 0;
}
}
}
*/
.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 180px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
}
.button:disabled {
  background-color: #e5e5e5;
}
.button--popup {
  padding: 14px 0 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.main-nav {
  position: relative;
  min-height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
.main-nav--opened .main-nav__toggle--close {
  display: block;
}
.main-nav--opened .main-nav__toggle--open {
  display: none;
}
.main-nav--closed .main-nav__toggle--open {
  top: 70px;
  z-index: 1;
}
.main-nav--closed .main-nav__toggle--close {
  display: none;
}
.main-nav--closed .site-list__item {
  display: none;
}
.main-nav--closed .site-list__item--active {
  display: block;
}
.main-nav--nojs .main-nav__close-toggle {
  display: none;
}
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 14px;
  border: none;
  background-color: transparent;
  outline: none;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}
.main-nav__open-icon {
  fill: #81b3d2;
}
.main-nav__close-icon {
  fill: #ffffff;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav {
    height: 56px;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 26px;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-nav__toggle,
  .main-nav__open-icon,
  .main-nav__close-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    min-height: 55px;
  }
}
.site-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
  color: white;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.site-list__item a:hover {
  background-color: #669ec0;
}
.site-list__item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.site-list__item a:disabled {
  background-color: #e5e5e5;
}
.site-list__item .site-list__link {
  background-color: #ffffff;
  height: 56px;
}
.site-list__item .site-list__link:hover,
.site-list__item .site-list__link:active {
  background-color: #ffffff;
}
.site-list__logo {
  position: relative;
  top: 20px;
}
@media (min-width: 768px) {
  .site-list__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-list__item a:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }
  .site-list__item a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .site-list__item .site-list__link {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .site-list__item--index {
    margin-left: 21px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .site-list__item--photo {
    margin-left: 25px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .site-list__item--logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .site-list__item--form {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .site-list__item--academy {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .site-list__logo {
    top: 1px;
  }
}
@media (min-width: 1200px) {
  .site-list__logo {
    width: 188px;
    height: 96px;
    top: 0;
  }
  .site-list__item a {
    margin-top: 0;
  }
  .site-list__item--index {
    margin-left: 41px;
  }
  .site-list__item--photo {
    margin-left: 64px;
  }
  .site-list__item--form {
    margin-right: 41px;
  }
  .site-list__item--academy {
    margin-right: 22px;
  }
  .page-header__icon--index {
    margin-top: -14px;
  }
}
.page-header {
  background-color: #ffffff;
}
.page-header__icon {
  width: 229px;
  height: 39px;
}
.page-header__icon--index {
  width: 281px;
  height: 214px;
}
.page-header__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: cover, 803px 395px;
  min-height: 158px;
  background-color: green;
  background-position: center, bottom;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__welcome {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
.page-header__welcome--index {
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-size: cover, cover;
  min-height: 389px;
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__welcome--index {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .page-header {
    margin-top: -3px;
  }
  .page-header__icon {
    width: 460px;
    height: 80px;
    margin-bottom: 22px;
  }
  .page-header__icon--index {
    width: 460px;
    height: 350px;
    margin-bottom: 0;
  }
  .page-header__welcome {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, 1200px auto;
    background-position: bottom, bottom left;
    min-height: 290px;
    margin-top: 0;
  }
  .page-header__welcome--index {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;
    background-position: bottom, center;
    min-height: 518px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__welcome {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__welcome--index {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header {
    margin-top: 0;
  }
  .page-header__icon {
    margin-bottom: 16px;
  }
  .page-header__welcome {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    min-height: 300px;
  }
  .page-header__welcome--index {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: contain, cover;
    min-height: 518px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__welcome {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header__welcome--index {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
.about {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 41px 23px 69px;
  padding-left: 0;
}
.about__item {
  position: relative;
  list-style: none;
}
.about__item--housing .about__icon {
  position: absolute;
  fill: #81b3d2;
  top: -10px;
  left: -47px;
  width: 37px;
  height: 36px;
}
.about__item--souvenirs {
  margin-top: 29px;
}
.about__item--souvenirs .about__icon {
  position: absolute;
  fill: #81b3d2;
  top: -12px;
  left: -43px;
  width: 32px;
  height: 38px;
}
.about__item--food {
  margin-top: 28px;
}
.about__item--food .about__icon {
  position: absolute;
  fill: #81b3d2;
  top: -6px;
  left: -51px;
  width: 40px;
  height: 35px;
}
.about__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0;
}
.about__paragraph {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 47px auto;
    padding: 0;
  }
  .about__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
  .about__paragraph {
    margin-top: 22px;
  }
  .about__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 40px;
    text-align: center;
    margin: auto;
  }
  .about__item--housing {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about__item--housing .about__icon {
    position: relative;
    top: 12px;
    left: -1px;
    fill: #81b3d2;
    width: 75px;
    height: 72px;
  }
  .about__item--housing .about__title {
    margin-top: 32px;
  }
  .about__item--housing .about__paragraph {
    min-width: 155px;
  }
  .about__item--souvenirs {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about__item--souvenirs .about__icon {
    position: relative;
    top: 11px;
    left: -9px;
    fill: #81b3d2;
    width: 64px;
    height: 75px;
  }
  .about__item--souvenirs .about__title {
    margin-top: 30px;
    margin-right: 13px;
  }
  .about__item--souvenirs .about__paragraph {
    min-width: 150px;
  }
  .about__item--food {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__item--food .about__icon {
    position: relative;
    top: 15px;
    left: -10px;
    fill: #81b3d2;
    width: 77px;
    height: 68px;
  }
  .about__item--food .about__title {
    margin-top: 36px;
    margin-right: 18px;
  }
  .about__item--food .about__paragraph {
    min-width: 163px;
  }
}
@media (min-width: 1200px) {
  .about {
    max-width: 1200px;
    margin: 48px 0 67px;
  }
  .about__item {
    margin: 0;
    padding: 0;
  }
  .about__item--housing {
    width: 252px;
  }
  .about__item--housing .about__paragraph {
    margin-left: -6px;
  }
  .about__item--souvenirs {
    width: 214px;
  }
  .about__item--souvenirs .about__icon {
    top: 10px;
    left: -19px;
  }
  .about__item--souvenirs .about__title {
    margin-right: 37px;
  }
  .about__item--souvenirs .about__paragraph {
    width: 214px;
    margin-top: 20px;
    margin-left: -2px;
  }
  .about__item--food {
    width: 283px;
  }
  .about__item--food .about__title {
    margin-right: 38px;
  }
  .about__item--food .about__icon {
    left: -19px;
  }
  .about__item--food .about__paragraph {
    margin-left: -21px;
    margin-right: 20px;
  }
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 6.25% 17px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.gallery__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery__title {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.gallery__copyright {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-transform: none;
}
.gallery__icon-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery__icon {
  width: 23px;
  height: 21px;
  fill-opacity: 0.3;
}
.gallery__likes {
  margin-left: 14px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 7.8%;
  }
  .gallery__big-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  .gallery__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 0;
    border: none;
  }
  .gallery__block--road {
    width: 100%;
    margin: auto;
  }
  .gallery__block--road .gallery__icon {
    width: 22px;
    height: 20px;
  }
  .gallery__block--road .gallery__icon-likes {
    margin-right: 0;
  }
  .gallery__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    padding: 0 20px;
    background-color: #f2f2f2;
  }
  .gallery__title-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__title {
    margin-top: 3px;
    margin-bottom: 0;
  }
  .gallery__icon {
    width: 22px;
    height: 20px;
  }
  .gallery__copyright {
    margin-top: 0;
  }
  .gallery__icon-likes {
    margin-right: 9px;
  }
  .gallery__icon-likes--road {
    margin-right: 15px;
  }
  .gallery__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .gallery {
    margin: 0;
    padding: 0;
    color: white;
  }
  .gallery__block {
    max-width: 400px;
  }
  .gallery__block--road {
    max-width: 1200px;
  }
  .gallery__block--road .gallery__img {
    width: 1200px;
    height: 400px;
  }
  .gallery__block--road .gallery__icon {
    top: 27px;
    left: 92%;
  }
  .gallery__description {
    margin-top: -80px;
    background-color: rgba(57, 35, 20, 0.3);
  }
  .gallery__title {
    margin-top: 6px;
  }
  .gallery__icon {
    left: 82%;
    fill: #ffffff;
    fill-opacity: 1;
  }
  .gallery__copyright {
    color: white;
  }
  .gallery__img {
    width: 400px;
    height: 267px;
  }
}
.inquirer__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6.25%;
  border-top: 1px solid #e5e5e5;
}
.inquirer__profile--introduce {
  margin-top: -11px;
  margin-bottom: 22px;
}
.inquirer__profile--introduce .inquirer__title {
  margin-top: 18px;
}
.inquirer__profile--introduce .inquirer__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.inquirer__profile--introduce .inquirer__field-wrapper:last-child {
  margin-bottom: auto;
}
.inquirer__profile--contacts {
  margin-bottom: 5px;
}
.inquirer__profile--contacts .inquirer__title {
  margin-top: 18px;
  margin-bottom: 6px;
}
.inquirer__profile--impression {
  margin-bottom: 25px;
}
.inquirer__profile--impression .inquirer__control-label::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -79px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}
.inquirer__profile--impression .inquirer__control-label:hover::before {
  background-color: #e5e5e5;
}
.inquirer__profile--impression .inquirer__control-label:active::before {
  background-color: #d5d5d5;
}
.inquirer__profile--impression .inquirer__title {
  margin-top: 18px;
  margin-bottom: 19px;
}
.inquirer__profile--attractions {
  margin-bottom: 23px;
}
.inquirer__profile--attractions .inquirer__control-label::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -79px;
  width: 55px;
  height: 55px;
  border-radius: 10%;
  background-color: #f2f2f2;
  cursor: pointer;
}
.inquirer__profile--attractions .inquirer__control-label:hover::before {
  background-color: #e5e5e5;
}
.inquirer__profile--attractions .inquirer__control-label:active::before {
  background-color: #d5d5d5;
}
.inquirer__profile--attractions .inquirer__title {
  margin-top: 18px;
  margin-bottom: 13px;
}
.inquirer__profile--attractions .inquirer__item {
  margin-bottom: 54px;
}
.inquirer__profile--emotions .inquirer__title {
  margin-top: 18px;
  margin-bottom: 17px;
}
.inquirer__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.inquirer__label {
  margin: 14px 11px 14px 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.inquirer__label--phone {
  margin-top: 14px;
  margin-left: 23px;
  margin-bottom: 10px;
}
.inquirer__label--phone::after {
  content: "";
  position: absolute;
  top: 67px;
  right: 20px;
  width: 18px;
  height: 18px;
  z-index: 2;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}
.inquirer__label--phone::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 58px;
  height: 58px;
  z-index: 1;
  background-color: #e6e6e6;
}
.inquirer__label--mail {
  margin-top: 10px;
  margin-left: 22px;
  margin-bottom: 9px;
}
.inquirer__label--mail::after {
  content: "";
  position: absolute;
  top: 172px;
  right: 20px;
  width: 16px;
  height: 12px;
  z-index: 2;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
}
.inquirer__label--mail::before {
  content: "";
  position: absolute;
  top: 153px;
  right: 0;
  width: 58px;
  height: 58px;
  z-index: 1;
  background-color: #e6e6e6;
}
.inquirer__contacts-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.inquirer__contacts-wrapper .inquirer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inquirer__contacts-wrapper .inquirer__input {
  padding: 4px 18px 10px;
}
.inquirer__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__input::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58px;
  padding: 4px 21px 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  border: 5px solid transparent;
  outline: none;
}
.inquirer__input:hover {
  background-color: #e5e5e5;
}
.inquirer__input:focus {
  background-color: #ffffff;
  border: 5px solid #e5e5e5;
}
.inquirer__button {
  position: relative;
  margin-left: 40px;
  margin-bottom: 43px;
  list-style: none;
}
.inquirer__button:last-child {
  margin-bottom: auto;
}
.inquirer__radio:checked + .inquirer__control-label::after {
  display: block;
}
.inquirer__control-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -63px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
  display: none;
}
.inquirer__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
.inquirer__checkbox-section {
  position: relative;
}
.inquirer__item {
  position: relative;
  margin-left: 40px;
  margin-bottom: 60px;
  list-style: none;
}
.inquirer__item:last-child {
  margin-bottom: auto;
}
.inquirer__icon-check {
  position: absolute;
  top: 6px;
  left: -64px;
  z-index: 1;
  display: none;
}
.inquirer__icon-check:hover + .inquirer__control-label::before {
  background-color: #e5e5e5;
}
.inquirer__checkbox:checked + .inquirer__icon-check {
  display: block;
}
.inquirer__textarea::-webkit-input-placeholder {
  color: #000000;
  text-transform: none;
}
.inquirer__textarea::-moz-placeholder {
  color: #000000;
  text-transform: none;
}
.inquirer__textarea:-ms-input-placeholder {
  color: #000000;
  text-transform: none;
}
.inquirer__textarea::-ms-input-placeholder {
  color: #000000;
  text-transform: none;
}
.inquirer__textarea::placeholder {
  color: #000000;
  text-transform: none;
}
.inquirer__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 51px;
  padding: 16px 33px 14px 21px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  border: none;
  resize: none;
  outline: none;
}
.inquirer__button-wrapper {
  padding: 0 6.25%;
}
.inquirer__send-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 auto 45px;
  padding: 16px 0 16px 12px;
}
.inquirer__comment {
  display: none;
}
@media (min-width: 768px) {
  .inquirer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 59px;
    padding: 0 7.8%;
  }
  .inquirer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .inquirer__profile {
    margin: 0;
    padding: 0;
    border: none;
  }
  .inquirer__profile--introduce {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 50%;
    border-left: 1px solid #f2f2f2;
  }
  .inquirer__profile--introduce .inquirer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-left: 57px;
    margin-bottom: 57px;
  }
  .inquirer__profile--introduce .inquirer__field-wrapper {
    margin-left: 58px;
  }
  .inquirer__profile--introduce .inquirer__label {
    margin-top: 17px;
    margin-right: 15px;
  }
  .inquirer__profile--introduce .inquirer__input {
    padding: 8px 15px 7px;
  }
  .inquirer__profile--contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 12px;
  }
  .inquirer__profile--contacts .inquirer__title {
    position: relative;
  }
  .inquirer__profile--contacts .inquirer__title::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 12px;
    left: 0;
    background-color: #f2f2f2;
  }
  .inquirer__profile--contacts .inquirer__title::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 12px;
    right: 0;
    background-color: #f2f2f2;
  }
  .inquirer__profile--impression {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
  }
  .inquirer__profile--impression .inquirer__title {
    margin-top: 0;
    margin-bottom: 56px;
  }
  .inquirer__profile--attractions {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 24px;
    margin-bottom: 22px;
  }
  .inquirer__profile--attractions .inquirer__title {
    position: relative;
    width: 278px;
    margin-right: 26px;
    margin-bottom: 38px;
  }
  .inquirer__profile--attractions .inquirer__title::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 25px;
    left: 0;
    background-color: #f2f2f2;
  }
  .inquirer__profile--attractions .inquirer__title::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 25px;
    right: 0;
    background-color: #f2f2f2;
  }
  .inquirer__profile--attractions .inquirer__item {
    margin-bottom: 62px;
  }
  .inquirer__profile--emotions {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 7px;
  }
  .inquirer__profile--emotions .inquirer__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 57px;
  }
  .inquirer__profile--emotions .inquirer__title::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 12px;
    left: 320px;
    background-color: #f2f2f2;
  }
  .inquirer__profile--emotions .inquirer__title::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 140px;
    top: 12px;
    left: -210px;
    background-color: #f2f2f2;
  }
  .inquirer__contacts-wrapper {
    margin-right: 12px;
  }
  .inquirer__contacts-wrapper .inquirer__input {
    padding: 4px 18px 6px;
  }
  .inquirer__label--phone {
    margin-top: 17px;
    margin-bottom: 7px;
  }
  .inquirer__label--phone::after {
    top: 70px;
    right: 7px;
  }
  .inquirer__label--phone::before {
    top: 50px;
    right: -12px;
  }
  .inquirer__label--mail {
    margin-top: 22px;
    margin-bottom: 10px;
  }
  .inquirer__label--mail::after {
    top: 186px;
    right: 9px;
  }
  .inquirer__label--mail::before {
    top: 166px;
    right: -12px;
  }
  .inquirer__item {
    min-width: 168px;
    margin-bottom: 73px;
  }
  .inquirer__item--mountain .inquirer__block {
    margin-left: 25px;
  }
  .inquirer__item--mountain .inquirer__control-label::before {
    left: -56px;
  }
  .inquirer__item--mountain .inquirer__icon-check {
    left: -39px;
  }
  .inquirer__item--rock .inquirer__block {
    margin-left: 25px;
  }
  .inquirer__item--rock .inquirer__control-label::before {
    left: -56px;
  }
  .inquirer__item--rock .inquirer__icon-check {
    left: -39px;
  }
  .inquirer__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 50%;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .inquirer__button {
    margin-bottom: 52px;
    margin-left: 37px;
  }
  .inquirer__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
  .inquirer__radio {
    margin-bottom: 61px;
  }
  .inquirer__checkbox-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 443px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .inquirer__textarea {
    width: 100%;
  }
  .inquirer__send-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    max-width: 480px;
    margin: 0;
  }
  .inquirer__comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    margin-left: auto;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .inquirer {
    padding: 0 10%;
  }
  .inquirer__form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .inquirer__profile--introduce {
    max-width: 520px;
    margin-left: 78px;
    padding-left: 20px;
  }
  .inquirer__profile--contacts {
    margin-top: 48px;
  }
  .inquirer__profile--contacts .inquirer__field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .inquirer__profile--contacts .inquirer__input {
    width: 315px;
  }
  .inquirer__profile--contacts .inquirer__title::before {
    width: 280px;
    left: 30px;
  }
  .inquirer__profile--contacts .inquirer__title::after {
    width: 280px;
    right: 30px;
  }
  .inquirer__profile--attractions {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 50px;
  }
  .inquirer__profile--attractions .inquirer__title {
    margin: 6px auto 38px;
  }
  .inquirer__profile--attractions .inquirer__item {
    margin-bottom: 0;
  }
  .inquirer__profile--impression {
    margin-left: 28px;
  }
  .inquirer__profile--impression .inquirer__title {
    margin-left: 48px;
    margin-bottom: 54px;
  }
  .inquirer__profile--impression .inquirer__control-label::before {
    left: -74px;
  }
  .inquirer__profile--impression .inquirer__control-label::after {
    left: -56px;
  }
  .inquirer__profile--emotions {
    margin-top: 32px;
  }
  .inquirer__button {
    margin-left: 50px;
  }
  .inquirer__contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 65px;
    margin-bottom: 38px;
  }
  .inquirer__input {
    min-width: 312px;
  }
  .inquirer__radio-buttons {
    padding: 0;
  }
  .inquirer__checkbox-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
  }
  .inquirer__send-button {
    width: 480px;
  }
  .hidden-word {
    display: none;
  }
  .inquirer__label {
    min-width: auto;
    margin-bottom: auto;
  }
  .inquirer__label--phone {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 18px;
  }
  .inquirer__label--phone::after {
    top: 23px;
    right: 594px;
  }
  .inquirer__label--phone::before {
    top: 3px;
    right: 574px;
  }
  .inquirer__label--mail {
    margin-top: 20px;
    margin-left: 42px;
    margin-right: 16px;
  }
  .inquirer__label--mail::after {
    top: 25px;
    right: 35px;
  }
  .inquirer__label--mail::before {
    top: 3px;
    right: 14px;
  }
}
.map {
  position: relative;
  text-align: center;
}
.map__img {
  position: relative;
  width: 100%;
}
.map__icon {
  position: absolute;
  top: 45%;
  left: 46%;
  z-index: 1;
}
@media (min-width: 768px) {
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: -10px;
  }
  .map__link {
    width: 100%;
  }
  .map__icon {
    top: 46%;
    left: 48%;
  }
}
@media (min-width: 1200px) {
  .map__img {
    width: 1200px;
    height: 350px;
    margin-bottom: 0;
  }
  .map__icon {
    top: 45%;
    left: 49%;
  }
}
.page-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding-top: 9px;
  padding-bottom: 30px;
}
.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
.page-footer__academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  margin-left: 13px;
}
.page-footer__academy:hover {
  fill: #81b3d2;
}
.page-footer__academy:active {
  opacity: 0.3;
}
.page-footer__social {
  list-style: none;
}
@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-footer__copyright {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .page__footer {
    padding-top: 6px;
    margin-top: 4px;
  }
}
.page-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}
.page-main__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
}
.page-main__wrapper--index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 24px auto 13px;
}
.page-main__wrapper--photo {
  max-width: 97%;
  margin: 22px auto 28px;
  padding: 0 6.25%;
}
.page-main__wrapper--photo .page-main__paragraph {
  margin-top: 26px;
  font-size: 14px;
  line-height: 24px;
}
.page-main__wrapper--form {
  max-width: 97%;
  margin: 22px auto 28px;
}
.page-main__wrapper--form .page-main__paragraph {
  margin-top: 26px;
  margin-left: -2px;
  font-size: 14px;
  line-height: 24px;
}
.page-main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.page-main__paragraph {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
  .page-main__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 490px;
    margin: 0 auto;
  }
  .page-main__wrapper--index {
    margin-top: 33px;
    margin-bottom: 49px;
  }
  .page-main__wrapper--index .page-main__paragraph {
    margin-top: 10px;
  }
  .page-main__wrapper--photo {
    margin-top: 48px;
    margin-bottom: 69px;
    padding: 0;
  }
  .page-main__wrapper--photo .page-main__title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
  .page-main__wrapper--form {
    width: 439px;
    margin-top: 48px;
    margin-bottom: 74px;
  }
  .page-main__wrapper--form .page-main__title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .page-main__wrapper--photo {
    margin-top: 87px;
    margin-bottom: 71px;
    padding: 0;
  }
  .page-main__wrapper--form {
    margin-top: 87px;
    margin-bottom: 60px;
  }
}
.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 46px;
  background-color: #ffffff;
}
.player__wrapper {
  max-width: 90%;
  margin: 9px auto 20px;
  padding: 0 8%;
}
.player__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.player__paragraph {
  margin-top: 27px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}
.player__video-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}
.player__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87%;
  max-width: 569px;
  height: 66px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.player__block-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87%;
  max-width: 569px;
  height: 45px;
  margin: 0 auto;
  margin-top: -45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.player__block-controls::after {
  content: "";
  position: absolute;
  bottom: 129px;
  left: 24%;
  right: 0;
  width: 11px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  opacity: 1;
}
.player__volume-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74%;
  min-width: 235px;
  max-width: 500px;
  height: 3px;
  margin: 0 auto;
  background-color: white;
  opacity: 0.2;
}
.volume-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.player__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.player__button--replay {
  margin-left: 24px;
}
.player__button--replay .player__icon {
  width: 16px;
}
.player__button--subtitles {
  margin-left: auto;
}
.player__button--subtitles .player__icon {
  width: 32px;
}
.player__button--fullscreen {
  margin-left: 30px;
  margin-right: 22px;
}
.player__button--fullscreen .player__icon {
  width: 20px;
}
.player__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  z-index: 1;
  fill: #5c6870;
}
.player__icon:hover {
  fill: #333333;
}
.player__icon:active {
  fill: #333333;
  fill-opacity: 0.3;
}
@media (min-width: 768px) {
  .player {
    margin-top: 17px;
    margin-bottom: 38px;
    padding: 0 7.8%;
  }
  .player__wrapper {
    margin-bottom: 60px;
  }
  .player__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
  .player__controls {
    width: 100%;
    min-width: 648px;
    max-width: 800px;
    height: 93px;
    margin-top: -93px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .player__block-controls {
    background-color: transparent;
  }
  .player__block-controls::after {
    bottom: 78px;
    left: 34.5%;
    width: 9px;
    height: 9px;
  }
  .player__volume-scale {
    width: 75%;
    max-width: 540px;
    margin-left: 50px;
    margin-bottom: 45px;
  }
  .player__button--replay {
    margin-left: 34px;
  }
  .player__button--fullscreen {
    margin-left: 30px;
    margin-right: 40px;
  }
  .player__icon {
    fill: white;
  }
  .player__icon:hover {
    fill-opacity: 0.6;
  }
  .player__icon:active {
    fill-opacity: 0.3;
  }
  .player__preview {
    max-width: 800px;
    height: 499px;
  }
  .player__video-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 499px;
  }
}
@media (min-width: 1200px) {
  .player {
    margin-top: 22px;
    margin-bottom: 84px;
  }
  .player__wrapper {
    width: 415px;
    margin-bottom: 57px;
  }
  .player__preview {
    width: 800px;
  }
  .player__button--replay {
    margin-left: 35px;
  }
  .player__button--fullscreen {
    margin-right: 42px;
  }
  .player__block-controls::after {
    left: 33.7%;
  }
  .player__volume-scale {
    width: 540px;
    margin-left: 0;
  }
}
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.popup__warning {
  margin: 46px 57px 0;
}
.popup__review {
  margin: 49px 52px 20px;
}
.popup__review .popup__paragraph {
  margin-top: 0;
  margin-bottom: -2px;
}
.popup__title {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.popup__paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.popup__button {
  margin: 9px 70px 35px;
}
.popup__button--close {
  width: 100%;
  margin: 13px auto 0;
}
.popup__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .popup--warning {
    width: 400px;
  }
  .popup--warning .popup__title {
    line-height: 40px;
  }
  .popup--review {
    width: 640px;
  }
  .popup__warning {
    margin: 64px 73px 39px;
  }
  .popup__review {
    margin: 64px 112px 40px;
  }
  .popup__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
  .popup__button {
    margin: 0 64px 49px;
  }
  .popup__button--close {
    margin: auto;
  }
  .popup__wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
  }
}
.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.reasons--bridge .reasons__wrapper--main {
  margin-top: 0;
  padding: 15px 25px 25px;
}
.reasons--secondary .reasons__wrapper {
  background-color: #eeeeee;
}
.reasons--secondary .reasons__paragraph {
  color: #333333;
}
.reasons__triangle {
  background-image: url("../img/bg-triangle.svg");
  width: 100%;
  height: 37px;
  margin-top: -8px;
  z-index: 1;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.reasons__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.reasons__wrapper--main {
  margin-top: -37px;
  padding: 53px 25px 27px;
  color: white;
  background-color: #81b3d2;
}
.reasons__wrapper--area {
  padding: 2px 37px 8px;
}
.reasons__wrapper--road {
  padding: 9px 37px 8px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.reasons__wrapper--tourists {
  padding: 9px 37px 12px;
}
.reasons__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.reasons__paragraph {
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
}
.reasons__picture {
  height: 260px;
}
.reasons__img {
  margin: 0;
}
@media (min-width: 768px) {
  .reasons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reasons--secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
    width: 100%;
  }
  .reasons--secondary .reasons__title {
    max-width: 256px;
    margin-top: -6px;
  }
  .reasons--secondary .reasons__paragraph {
    max-width: 256px;
  }
  .reasons--bridge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .reasons--bridge .reasons__title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 12px 12px 2px;
  }
  .reasons--bridge .reasons__paragraph {
    margin-top: 7px;
  }
  .reasons--bridge .reasons__wrapper--main {
    height: 256px;
    padding: 0 40px;
  }
  .reasons__triangle {
    display: none;
  }
  .reasons__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .reasons__wrapper--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 256px;
    width: 33%;
    margin: 0;
    padding: 0 40px;
  }
  .reasons__wrapper--main .reasons__paragraph {
    padding: 0 8px;
  }
  .reasons__wrapper--area {
    padding: 50px 48px 30px 49px;
  }
  .reasons__wrapper--road {
    padding: 50px 53px 30px 51px;
    border: none;
  }
  .reasons__wrapper--road .reasons__title {
    margin-left: 9px;
  }
  .reasons__wrapper--road .reasons__paragraph {
    margin-left: 12px;
    margin-top: 9px;
  }
  .reasons__wrapper--tourists {
    padding: 50px 55px 30px 56px;
    border: none;
  }
  .reasons__paragraph {
    margin-top: 9px;
  }
  .reasons__picture {
    width: 100%;
    height: 256px;
  }
  .reasons__img {
    width: 100%;
    height: 256px;
  }
  .reasons__title {
    margin-top: 17px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .reasons--secondary {
    max-width: 100%;
  }
  .reasons--secondary .reasons-wrapper {
    padding: 43px 55px;
  }
  .reasons--secondary .reasons__title {
    padding: 0 70px;
  }
  .reasons--bridge .reasons__title {
    margin: 10px 35px 3px;
  }
  .reasons--bridge .reasons__wrapper--main {
    padding: 0 85px;
  }
  .reasons__wrapper {
    padding-bottom: 50px;
  }
  .reasons__wrapper--main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    min-height: 256px;
    padding: 0 60px;
  }
  .reasons__wrapper--main .reasons__paragraph {
    max-width: 265px;
  }
  .reasons__wrapper--road .reasons__paragraph--number {
    margin-left: 25px;
    margin-bottom: 14px;
  }
  .reasons__paragraph--number {
    margin-left: 22px;
    margin-top: 12px;
    margin-bottom: 11px;
  }
  .reasons__picture {
    width: 800px;
    height: 256px;
  }
  .reasons__img {
    width: 800px;
    height: 256px;
    margin: 0;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
  margin-bottom: 42px;
  padding: 0;
}
.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--facebook {
  width: 47px;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__icon {
  position: absolute;
  fill: #ffffff;
}
.social__icon--twitter {
  top: 17px;
  left: 16px;
}
.social__icon--facebook {
  top: 14px;
  left: 21px;
}
.social__icon--youtube {
  top: 17px;
  left: 15px;
}
.social__icon:active {
  fill: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .social {
    margin: 30px 0;
  }
}
.booking {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px 20px 0;
}
.booking__title {
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.booking__paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.booking__find-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 36px auto 49px;
  padding: 15px 0 16px;
}
@media (min-width: 768px) {
  .booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 26px 167px 46px;
  }
  .booking__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
  .booking__find-button {
    margin: 29px auto 13px;
  }
}
@media (min-width: 1200px) {
  .booking {
    margin-bottom: 53px;
  }
  .booking__title {
    margin-bottom: 17px;
  }
  .booking__paragraph {
    width: 434px;
  }
  .booking__find-button {
    margin-top: 34px;
    max-width: 458px;
  }
}
.small-paragraph {
  font-size: 14px;
  line-height: 21px;
}
.paragraph {
  font-size: 14px;
  line-height: 24px;
}
.bold-paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.big-paragraph {
  font-size: 14px;
  line-height: 26px;
}
.bold-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.bold-phrase {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.tablet-title {
  font-size: 30px;
  line-height: 26px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
