body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @font-black;
  text-transform: uppercase;
  background-color: @input-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 6.25%;

  &--index {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 8%;

    &--index {
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 10%;

    &--index,
    &--photo {
      padding: 0;
    }
  }
}

/* todo: контейнер для фиксированной верстки */
/*.container {
box-sizing: border-box;
width: 320px;
margin: 0 auto;
padding: 0 20px;

&--index {
padding: 0;
}

@media (min-width: @tablet-width) {
width: 768px;
padding: 0 60px;

&--index {
padding: 0;
}
}

@media (min-width: @desktop-width) {
width: 1200px;
padding: 0 120px;

&--photo {
padding: 0;
}

&--index {
padding: 0;
}
}
}
*/

.wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 @main-shadow;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
