.button {
  .bold-phrase;
  color: @font-white;
  background-color: @bg-blue;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  max-width: 320px;

  &--popup {
    .bold-title;
  }
}
