.button {
  display: flex;
  justify-content: center;
  min-width: 180px;
  .bold-phrase;
  color: @font-white;
  text-transform: uppercase;
  background-color: @bg-blue;
  border: none;

  &--popup {
    padding: 22px 0;
    .bold-title;
  }
}
