.small-paragraph {
  font-size: 14px;
  line-height: 21px;
}

.paragraph {
  font-size: 14px;
  line-height: 24px;
}

.big-paragraph {
  font-size: 14px;
  line-height: 26px;
}

.bold-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.bold-phrase {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.button {
  color: @font-white;
  background-color: @bg-blue;
  text-transform: uppercase;
}
