@bg-blue: #81b3d2;
@bg-grey: #eeeeee;
@bg-white: #ffffff;
@bg-icon: #e6e6e6;
@checkbox-color: #333333;
@wrapper-grey: #f2f2f2;
@main-shadow: rgba(0, 1, 1, 0.2);
@bg-image-index: #d9eaf2;
@bg-image: #457ba7;
@bg-hover-blue: #669ec0;
@bg-active-blue: #5496bd;
@bg-hover-input: #e5e5e5;
@bg-active-input: #ffffff;
@radio-checkbox-hover: #e5e5e5;
@radio-checkbox-active: #d5d5d5;
@active-opacity: rgba(0, 0, 0, 0.3);
@bg-disabled: #e5e5e5;
@icon-color: #ffffff;
@video-icon-color: #5c6870;
@video-icon-color-tablet: white;
@video-icon-color-hover: #333333;
@video-icon-color-active: rgba(51, 51, 51, 1, 0.3);
@font-grey: #333333;
@font-white: white;
@font-black: #000000;
@input-color: #f2f2f2;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
